body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed height to min-height */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    margin: 20px auto;
    margin-top: 0px;
}

h1 {
    font-family: 'Raveparty Narrow', sans-serif;
    color: #1c3a58;
    font-size: 8vh; /* Adjusted font-size */
    margin-bottom: 10px; /* Added margin */
}

h2 {
    font-family: 'Helvetica', sans-serif;
    color: #1c3a58;
    font-size: 3vh; /* Adjusted font-size */
    margin-top: 10px; /* Added margin */
    margin-bottom: 20px; /* Added margin */
}

p {
    color: #1c3a58;
    font-size: 2.5vh; /* Adjusted font-size */
    margin-bottom: 15px; /* Added margin */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px; /* Adjusted margin */
}

.video {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.button-link {
    display: block; /* Changed to block to force new line */
    margin-top: 20px; /* Adjusted margin */
}

.button-71 {
    background-color: #1c3a58;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block; /* Changed to inline-block */
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px; /* Added margin */
}

.button-71:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

.graph-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.graph-images img {
    height: 200px; /* Set the desired height */
    width: auto;
    object-fit: contain;
    border-radius: 8px;
}

.internal-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px; /* Adjusted margin */
}
